// colors

$main-text-icon-color:#212121;
$second-text-icon-color : #757575;
$brand-color-blue: #2196F3;
$white: #fff;
$background-dark:#2F303A;
$background-light:#F5F4FA;
$header-border:#ECECEC;


//shadows





// transitions

$default-duration: 250ms;
$default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);